@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$light-color: #888;
$font-color: purple;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $light-color;
  margin: 0;
  padding: 0;
  color: $font-color;
}

header {
  margin: 2rem;
}

button {
  font-size: 1rem;
  width: 100px;
  height: 30px;
}

.landing {
  position: relative;
  height: 100vh;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  display: inline;
}

.const-container {
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px hsl(0, 0%, 80%);
  padding: 1rem;
  margin-bottom: 1rem;
}